/*Estilos para apartados de informacion de las paginas*/

/*@Mixin*/
@mixin info($font-wg, $font-sz, $color){
    font-weight: $font-wg;
    font-size: $font-sz;
    color: $color;
}

/*Apartado de informacion que corresponde al resto de paginas que no sean Index (<aside>)*/
.apartado-info-pags {
    display: flex;
    justify-content: left;
    margin-bottom: 2vh;
    margin-top: 3vh;
    padding: 10px;
    font-family: "Oswald", sans-serif;
}

/*(<ul>)*/
.seccion-info {
    @include info(400, normal, $pinfo);
}

/*(<h3>)*/
.subtit-info {
    @include info(900, 25px, $titinfo);
    animation: animation-subtit 3s infinite;
}

/*(<p>)*/
.info-text {
    @include info(400, 15px, black );
    transition: color 1.5 linear, font-size 1.5 linear;
}