/*Estilos para Titulos de las paginas (Mobile)*/

/*Titulo de Index*/
#titulo-index {
    @extend .titulos;
    font-size: 4.7vh;
    padding: 40px 0;
}

/*Titulo y Subtitulo de las Paginas de Servicios (No se usa para Index)*/
.titulo-pag {
    @extend .titulos;
    font-size: 10vh;
    padding: 2vh 0 1vh 0;
}

.sub-pag {
    @extend .titulos;
    font-size: 4vh;
}

//@extend's
.titulos{
    margin: 0;
    width: 100%;
    font-weight: bold;
    background-color: $primary-color;
    font-family: "Dancing Script", cursive;
    text-align: center;
    color: #825B32;
    text-shadow: 5px 5px 5px $sombra;
}