/*Estilos para el Main de las paginas (Mobile)*/

//@mixin
@mixin main($dflex, $fdirection, $jcontent, $aitems, $talign){
    display: $dflex;
    flex-direction: $fdirection;
    justify-content: $jcontent;
    align-items: $aitems;
    text-align: $talign;
}

/*Main de NailArt y Peluquería*/
.MainPredH{
    @include main(flex, column, center, center, center);
}

.MainPredH img{
    max-width: 100%;
    height: 45vh;
    padding: 25px;
    margin-top: 40px;
}

/*Configuracion para sección de precios de Peluqueria y Arte de Uñas*/
.MainPredH h3{
    color: #825B32;
    font-family: "Oswald", sans-serif;
    font-weight: 900;
    font-size: 20px;
}

.MainPredH ul{
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    padding-right: 3.5vh;
    list-style-type: none;
}

/*Main de Manicure y Pedicure*/
.MainPredV {
    @include main(flex, column, center, center, left);
    padding: 25px;
    margin-top: 3vh;
    font-family: "Oswald", sans-serif;
    font-size: 3vh;
}

.MainPredV img{
    padding-bottom: 2vh;
    height: 25vh;
    max-width: 100%
}