/*MediaQuery para TABLETS*/

@media (min-width: 600px) {
    *{
        font-weight: 900;
    }

    #TituloIndex {
        width: 100%;
        font-size: 60px;
    }

    .ListNav {
        font-size: 3vh;
    }

    .MainPredH {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 30px;
    }

    .MainPredH img{
        height: 200px;
        width: 300px;
    }

    .MainPredV {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        font-size: 20px;
        padding: 0;
    }

    .MainPredV img {
        height: 400px;
        width: 450px;
    }

}